<div class="card">
  <div class="card-header">
    <h4>Username & Password</h4>
    <p class="card-subtitle text-muted small">Edit your username and password.</p>
  </div>
  <div class="card-body">
    <div class="card-text">
      <form>
        <label>Change Username</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" placeholder="currentUserName">
        </div>
        <hr />
        <div class="form-group">
          <label for="currentPassInput">Current Password</label>
          <input type="password" class="form-control" id="currentPassInput">
        </div>
        <div class="form-group">
          <label for="newPassInput">New Password</label>
          <input type="password" class="form-control" id="newPassInput">
        </div>
        <div class="form-group">
          <label for="confirmPassInput">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassInput">
        </div>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
