<div class="row">

  <!-- Column for Profile Card & Tabs -->
  <div class="col-md-3">
    <app-profile-card></app-profile-card>
    <hr />
    <!-- Tabs -->
    <div class="nav flex-column nav-pills" id="settings-tabs" role="tablist" aria-orientation="vertical">
      <!-- TAB 1 - Username & Password -->
      <a class="nav-link active" id="user-pass-tab" data-toggle="pill" href="#user-pass" role="tab" aria-selected="true">Username & Password</a>
      <!-- TAB 2 - Edit Profile -->
      <a class="nav-link" id="edit-profile-tab" data-toggle="pill" href="#edit-profile" role="tab" aria-selected="false">Edit Profile</a>
      <!-- TAB 3 - Delete Account -->
      <a class="nav-link" id="delete-account-tab" data-toggle="pill" href="#delete-account" role="tab" aria-selected="false">Delete Account</a>
    </div>
  </div>

  <!-- Column for Tab Contents -->
  <div class="col-md-5">
    <!-- Tab Contents -->
    <div class="tab-content" id="v-pills-tabContent">
      <!-- TAB CONTENT 1 - Username & Password -->
      <div class="tab-pane show active" id="user-pass" role="tabpanel" aria-labelledby="user-pass-tab">
        <app-user-pass-content></app-user-pass-content>
        <!-- app/components/settings-tabs/user-pass-content -->
      </div>
      <!-- TAB CONTENT 2 - Edit Profile -->
      <div class="tab-pane" id="edit-profile" role="tabpanel" aria-labelledby="edit-profile-tab">
        <app-edit-profile-content></app-edit-profile-content>
        <!-- app/components/settings-tabs/edit-profile-content -->
      </div>
      <!-- TAB CONTENT 3 - Delete Account -->
      <div class="tab-pane" id="delete-account" role="tabpanel" aria-labelledby="delete-account-tab">
        <app-delete-account-content></app-delete-account-content>
        <!-- app/components/settings-tabs/delete-account-content -->
      </div>
    </div>
  </div>

  <div class="col-md-4"></div>

</div>
